<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear /> <!-- ensure only the sources defined below are used -->
        <add key="MyGet botbuilder-v3-dotnet-daily" value="https://botbuilder.myget.org/F/botbuilder-v3-dotnet-daily/api/v3/index.json" />
    </packageSources>
</configuration>