################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharp/Samples/GraphBot/Microsoft.Bot.Sample.GraphBot/project.fragment.lock.json
