<div class="jumbo">
	<div class="jumbo-header">
		<a href="https://intercom-devportal-scratch.azurewebsites.net/">Bot Framework</a>
	</div>
	<ul class="header-nav">
		<li>
			<a href="https://intercom-devportal-scratch.azurewebsites.net/#/bots">My bots</a>
		</li>
		<li>
			<a href="https://intercom-devportal-scratch.azurewebsites.net/#/bots/new">Register a bot</a>
		</li>
		<li class="active">
			<a href="/">Documentation</a>
		</li>
		<li>
			<a href="https://intercom-botdirectory-scratch.azurewebsites.net/">Bot Directory</a>
		</li>
	</ul>
	<div class="search-outter">
		<div class="open-search"></div>
		<div class="searchBox">
			<form method="GET" action="https://intercom-botdirectory-scratch.azurewebsites.net/#/search">
				<input type="text" class="searchText" name="s" placeholder="Search Microsoft bot directory…" />
					<button type="submit" class="icon-search">
						<span>Search</span>
					</button>
			</form>
		</div>
	</div>
</div>