<footer class="site-footer">
    <div class="container">
        <div class="ms-footer">
            <a target="_blank" href="http://go.microsoft.com/fwlink/?LinkId=521839">Privacy &amp; Cookies</a>
            <a target="_blank" href="https://go.microsoft.com/fwlink/?LinkID=206977">Terms of Use</a>
            <a target="_blank" href="http://research.microsoft.com">Microsoft Research</a>
            <span>© 2016 Microsoft </span>
            <img src="http://research.microsoft.com/a/i/c/ms-logo.png">
        </div>
    </div>
</footer>

