<div class="site-header">
	<div class="app-title"><a href="https://intercom-devportal-scratch.azurewebsites.net/">{{ site.title }}</a></div>
	<span class="header-link"><a href="https://intercom-devportal-scratch.azurewebsites.net/">My bots</a></span>
	<span class="header-link"><a href="/botframework/" class="selected">Documentation</a></span>
	<span class="header-link"><a href="https://social.msdn.microsoft.com/Forums/en-US/home">Community</a></span>
	<span class="header-link"><a href="https://intercom-botdirectory-scratch.azurewebsites.net/">Bot directory</a></span>
</div>
