<header class="site-header">

  <div class="wrapper">
	<div class="app-title"><a href="https://intercom-devportal-scratch.azurewebsites.net/">{{ site.title }}</a></div>
	<span class="header-link"><a href="https://intercom-devportal-scratch.azurewebsites.net/" data-reactid=".0.0.2.0">My bots</a></span>
	<span class="header-link"><a href="/botframework/" class="selected">Documentation</a></span>
	<span class="header-link"><a href="https://social.msdn.microsoft.com/Forums/en-US/home" data-reactid=".0.0.5.0">Community</a></span>
	<span class="header-link"><a href="https://intercom-botdirectory-scratch.azurewebsites.net/" data-reactid=".0.0.3.0">Bot directory</a></span>
  </div>

</header>
