<script>
var currentpath = window.location.pathname;
$( document ).ready(function() {
    $('.page-link[href="' + currentpath + '"]').addClass('navselected');
});
</script>
<style>
	.navselected {
		background-color: #C0C0C0;
	}
</style>

	<div class="trigger">
	{% assign sorted_pages = (site.pages | sort: 'weight') %}
	{% assign grouped_pages = (sorted_pages | group_by: 'parent') %}
	{% for group in grouped_pages %}
	  {% if group.name == 'none' %}
		{% for my_page in group.items %} 
			<div><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></div>
		{% endfor %}
	  {% endif %}
	  {% if group.name <> 'none' and group.name <> '' %}
		<div>
			<span style="font-weight: bold;">{{group.name}}</span>
			<ul>
			{% for my_page in group.items %} 
				<li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
			{% endfor %}				
			</ul>
		</div>
	  {% endif %}
	{% endfor %}


	  {% comment %}
		{% for my_page in sorted_pages %}
		 {% if my_page.title %}
		  <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
		  {% endif %}
		{% endfor %}
	  {% endcomment %}
	</div>
