	{% comment %}
		current implementation supports only 2 levels in the TOC, adding a new level requires
		code changes and css changes.
	{% endcomment %}
	<div class="trigger">
		<ul class="level0 backToHome" style="display:none;">
			<li><a class="page-link" href="/">&lt; Documentation Home</li>
		</ul>
	{% assign sorted_pages = (site.pages | sort: 'weight') %}
	{% assign grouped_pages1 = (sorted_pages | group_by: 'parent1') %}
	{% for group1 in grouped_pages1 %}
	  {% if group1.name == 'none' %}
		<ul class="level0">
		{% for my_page in group1.items %} 		
			{% include _function_navselected.html page = page my_page = my_page %}
		{% endfor %}
		</ul>
	  {% endif %}
	  {% if group1.name <> 'none' and group1.name <> '' %}
   		<div class="level1 parent" style="display: none;">{{group1.name}}</div>
        <div class="navContainer" style="display: none;">
		{% include _function_nav-section-block.html page = page group = group1 level = 'level1' %}
		{% assign grouped_pages2 = (group1.items | group_by: 'parent2') %}
		{% for group2 in grouped_pages2 %}
			{% if group2.name <> '' %}
   		        <div class="level2 parent">{{group2.name}}</div>
				{% include _function_nav-section-block.html page = page group = group2 level = 'level2' %}
			{% endif %}
		{% endfor %}
        </div>
	  {% endif %}	
	{% endfor %}

	</div>