<div class="outline footer">
	<ul>
		<li><a href="//aka.ms/bf-contactus">Contact Us</a></li>
		<li><a href="//aka.ms/bf-privacy">Privacy & Cookies</a></li>
		<li><a href="//aka.ms/bf-terms">Terms Of Use</a></li>
		<li><a href="//aka.ms/bf-conduct">Code Of Conduct</a></li>
		<li>&copy; 2016 Microsoft</li>
	</ul>
</div>
