{
  "swagger": "2.0",
  "info": {
    "version": "v3",
    "title": "Microsoft Bot Connector API - v3.0",
    "description": "© 2016 Microsoft",
    "termsOfService": "https://www.microsoft.com/en-us/legal/intellectualproperty/copyright/default.aspx",
    "contact": {
      "name": "Bot Framework",
      "url": "https://botframework.com",
      "email": "botframework@microsoft.com"
    },
    "license": {
      "name": "The MIT License (MIT)",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "host": "api.botframework.com",
  "schemes": [ "https" ],
  "paths": {
    "/api/v3/botstate/{botId}/{channelId}/users/{userId}": {
      "get": {
        "tags": [ "BotState" ],
        "summary": "GetUserData",
        "description": "Get a bots data for the user across all conversations",
        "operationId": "BotState_GetUserData",
        "consumes": [ ],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "description": "The BotId",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelId",
            "in": "path",
            "description": "the channelId for the user",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The user Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A bot data object will be returned containing your object\r\n",
            "schema": { "$ref": "#/definitions/BotData" }
          },
          "400": {
            "description": "This is usually because the web server could not found.\r\n\r\nInspect the message for a description.",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "401": { "description": "If you are getting this it is because your Microsoft App Id/Microsoft App Password are incorrect.\r\n" },
          "403": { "description": "If you are getting this it is because your Microsoft App Id/Microsoft App Password are incorrect.\r\n" },
          "404": {
            "description": "The resource was not found.\r\n",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "500": {
            "description": "An internal server has happened.\r\n\r\nInspect the message for a description.\r\n",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "503": {
            "description": "The service you are trying to communciate with was unavailable\r\n\r\n",
            "schema": { "$ref": "#/definitions/APIResponse" }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [ "BotState" ],
        "summary": "SetUserData",
        "description": "Update the bot's data for a user",
        "operationId": "BotState_SetUserData",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "description": "The BotId",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelId",
            "in": "path",
            "description": "the channelId for the user",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The user Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "botData",
            "in": "body",
            "description": "the new botdata",
            "required": true,
            "schema": { "$ref": "#/definitions/BotData" }
          }
        ],
        "responses": {
          "200": {
            "description": "A bot data object will be returned containing your object\r\n",
            "schema": { "$ref": "#/definitions/BotData" }
          },
          "400": {
            "description": "This is usually because the web server could not found.\r\n\r\nInspect the message for a description.",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "401": { "description": "If you are getting this it is because your Microsoft App Id/Microsoft App Password are incorrect.\r\n" },
          "403": { "description": "If you are getting this it is because your Microsoft App Id/Microsoft App Password are incorrect.\r\n" },
          "404": {
            "description": "The resource was not found.\r\n",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "412": {
            "description": "The object you are trying to change has been changed by someone else",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "500": {
            "description": "An internal server has happened.\r\n\r\nInspect the message for a description.\r\n",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "503": {
            "description": "The service you are trying to communciate with was unavailable\r\n\r\n",
            "schema": { "$ref": "#/definitions/APIResponse" }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [ "BotState" ],
        "summary": "DeleteAllUserData",
        "description": "Delete all data for a user in a channel (UserData and PrivateConversationData)",
        "operationId": "BotState_DeleteAllUserDataDeleteUserProfile",
        "consumes": [ ],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "description": "The BotId",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of ids",
            "schema": {
              "type": "array",
              "items": { "type": "string" }
            }
          },
          "400": {
            "description": "This is usually because the web server could not found.\r\n\r\nInspect the message for a description.",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "401": { "description": "If you are getting this it is because your Microsoft App Id/Microsoft App Password are incorrect.\r\n" },
          "403": { "description": "If you are getting this it is because your Microsoft App Id/Microsoft App Password are incorrect.\r\n" },
          "404": {
            "description": "The resource was not found.\r\n",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "412": {
            "description": "The object you are trying to change has been changed by someone else",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "500": {
            "description": "An internal server has happened.\r\n\r\nInspect the message for a description.\r\n",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "503": {
            "description": "The service you are trying to communciate with was unavailable\r\n\r\n",
            "schema": { "$ref": "#/definitions/APIResponse" }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/botstate/{botId}/{channelId}/conversations/{conversationId}": {
      "get": {
        "tags": [ "BotState" ],
        "summary": "GetConversationData",
        "description": "get the bots data for all users in a conversation",
        "operationId": "BotState_GetConversationData",
        "consumes": [ ],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "description": "The BotId",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelId",
            "in": "path",
            "description": "the channelId for the user",
            "required": true,
            "type": "string"
          },
          {
            "name": "conversationId",
            "in": "path",
            "description": "The conversationId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A bot data object will be returned containing your object\r\n",
            "schema": { "$ref": "#/definitions/BotData" }
          },
          "400": {
            "description": "This is usually because the web server could not found.\r\n\r\nInspect the message for a description.",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "401": { "description": "If you are getting this it is because your Microsoft App Id/Microsoft App Password are incorrect.\r\n" },
          "403": { "description": "If you are getting this it is because your Microsoft App Id/Microsoft App Password are incorrect.\r\n" },
          "404": {
            "description": "The resource was not found.\r\n",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "500": {
            "description": "An internal server has happened.\r\n\r\nInspect the message for a description.\r\n",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "503": {
            "description": "The service you are trying to communciate with was unavailable\r\n\r\n",
            "schema": { "$ref": "#/definitions/APIResponse" }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [ "BotState" ],
        "summary": "SetConversationData",
        "description": "Update the bot's data for all users in a conversation",
        "operationId": "BotState_SetConversationData",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "description": "The BotId",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelId",
            "in": "path",
            "description": "the channelId for the user",
            "required": true,
            "type": "string"
          },
          {
            "name": "conversationId",
            "in": "path",
            "description": "conversation id",
            "required": true,
            "type": "string"
          },
          {
            "name": "botData",
            "in": "body",
            "description": "the new botdata",
            "required": true,
            "schema": { "$ref": "#/definitions/BotData" }
          }
        ],
        "responses": {
          "200": {
            "description": "A bot data object will be returned containing your object\r\n",
            "schema": { "$ref": "#/definitions/BotData" }
          },
          "400": {
            "description": "This is usually because the web server could not found.\r\n\r\nInspect the message for a description.",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "401": { "description": "If you are getting this it is because your Microsoft App Id/Microsoft App Password are incorrect.\r\n" },
          "403": { "description": "If you are getting this it is because your Microsoft App Id/Microsoft App Password are incorrect.\r\n" },
          "404": {
            "description": "The resource was not found.\r\n",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "412": {
            "description": "The object you are trying to change has been changed by someone else",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "500": {
            "description": "An internal server has happened.\r\n\r\nInspect the message for a description.\r\n",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "503": {
            "description": "The service you are trying to communciate with was unavailable\r\n\r\n",
            "schema": { "$ref": "#/definitions/APIResponse" }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/botstate/{botId}/{channelId}/conversations/{conversationId}/users/{userId}": {
      "get": {
        "tags": [ "BotState" ],
        "summary": "GetPrivateConversationData",
        "description": "get bot's data for a single user in a conversation",
        "operationId": "BotState_GetPrivateConversationData",
        "consumes": [ ],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "description": "The BotId",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelId",
            "in": "path",
            "description": "the channelId for the user",
            "required": true,
            "type": "string"
          },
          {
            "name": "conversationId",
            "in": "path",
            "description": "The conversationId",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The user Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A bot data object will be returned containing your object\r\n",
            "schema": { "$ref": "#/definitions/BotData" }
          },
          "400": {
            "description": "This is usually because the web server could not found.\r\n\r\nInspect the message for a description.",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "401": { "description": "If you are getting this it is because your Microsoft App Id/Microsoft App Password are incorrect.\r\n" },
          "403": { "description": "If you are getting this it is because your Microsoft App Id/Microsoft App Password are incorrect.\r\n" },
          "404": {
            "description": "The resource was not found.\r\n",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "500": {
            "description": "An internal server has happened.\r\n\r\nInspect the message for a description.\r\n",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "503": {
            "description": "The service you are trying to communciate with was unavailable\r\n\r\n",
            "schema": { "$ref": "#/definitions/APIResponse" }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [ "BotState" ],
        "summary": "SetPrivateConversationData",
        "description": "Update the bot's data for a single user in a conversation",
        "operationId": "BotState_SetPrivateConversationData",
        "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "description": "The BotId",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelId",
            "in": "path",
            "description": "the channelId for the user",
            "required": true,
            "type": "string"
          },
          {
            "name": "conversationId",
            "in": "path",
            "description": "conversation id",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "user id",
            "required": true,
            "type": "string"
          },
          {
            "name": "botData",
            "in": "body",
            "description": "the new botdata",
            "required": true,
            "schema": { "$ref": "#/definitions/BotData" }
          }
        ],
        "responses": {
          "200": {
            "description": "A bot data object will be returned containing your object\r\n",
            "schema": { "$ref": "#/definitions/BotData" }
          },
          "400": {
            "description": "This is usually because the web server could not found.\r\n\r\nInspect the message for a description.",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "401": { "description": "If you are getting this it is because your Microsoft App Id/Microsoft App Password are incorrect.\r\n" },
          "403": { "description": "If you are getting this it is because your Microsoft App Id/Microsoft App Password are incorrect.\r\n" },
          "404": {
            "description": "The resource was not found.\r\n",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "412": {
            "description": "The object you are trying to change has been changed by someone else",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "500": {
            "description": "An internal server has happened.\r\n\r\nInspect the message for a description.\r\n",
            "schema": { "$ref": "#/definitions/APIResponse" }
          },
          "503": {
            "description": "The service you are trying to communciate with was unavailable\r\n\r\n",
            "schema": { "$ref": "#/definitions/APIResponse" }
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "BotData": {
      "type": "object",
      "properties": {
        "eTag": { "type": "string" },
        "data": { "$ref": "#/definitions/Object" }
      }
    },
    "Object": {
      "type": "object",
      "properties": { }
    },
    "APIResponse": {
      "type": "object",
      "properties": { "message": { "type": "string" } }
    }
  },
  "securityDefinitions": {
    "basic": {
      "type": "basic",
      "description": "Basic HTTP Authentication using AppId/AppSecret"
    },
    "apiKey": {
      "type": "apiKey",
      "description": "API Subscription Key Authentication",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    }
  }
}
