<header class="cover-container">
	<div class="outline">
		<div class="header outline">
			<a class="logo" href="//www.microsoft.com">
				<svg class="svgicon svgicon-microsoft-color-logo">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href=" /images/symbol-defs.svg#svgicon-microsoft-color-logo "></use>
				</svg>
			</a>
		</div>
	</div>
</header>

<div class="dark-theme cover-container">
	<div class="jumbo outline">
		<div class="jumbo-header"><a href="https://dev.botframework.com/" class="appnav">Bot Framework</a></div>
		<ul class="header-nav">
			<li><a href="https://dev.botframework.com/bots" class="appnav">My bots</a></li>
			<li><a href="/">Documentation</a></li>
			<li><a href="https://bots.botframework.com/">Bot Directory</a></li>
			<li><a href="https://blog.botframework.com/">Blog</a></li>
		</ul>
	</div>
</div>